<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{$description}" />
    <meta name="keywords" content="{$keywords}" />
    <title>{$title}</title>	
    <link href="css/style.css" rel="stylesheet" type="text/css" />	
	<link href="css/nivo-slider.css" rel="stylesheet" type="text/css" />
    <!--[if IE]><link href="css/style-ie.css" rel="stylesheet" type="text/css" /><![endif]-->
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
			$('#slideshow').nivoSlider({
				directionNav: false
			});
		});
	</script>
</head>

<body>

<div id="header">
	<div class="container">
		<h1>
			<a href="/" title="Utao">Utao</a>
		</h1>
		{if:$guide_list}
		<ul class="menu fr">
			{foreach:items=$guide_list}	
			<li {if:$key==0}class="active"{/if}><a href="{$item['link']}" title="{$item['name']}">{$item['name']}</a></li>
			{/foreach}
		</ul>
		{/if}
	</div>
</div><!-- // end #header -->

<div id="main">
	<div class="container">
		{if:count($slide)}
		<div id="slideshow">
			{foreach:items=$slide}
			<a href="{$item['url']}" title="{$item['name']}" target="_blank"><img src="{webroot:$item[img]}" alt="{$item['name']}" /></a>
			{/foreach}
		</div>
		{/if}
		{if:count($goods_list)}
		{foreach:items=$goods_list item=$category_goods}
		<h1>{$category_goods['cname']}</h1>
		<div class="row clearfix">
			{foreach:items=$category_goods item=$goods}
			<div class="column">
				<div class="image">
					<a href="{$goods['url']}" target="_blank">
						<img src="{$goods['img']}" alt="{$goods['name']}" />
					</a>
				</div>
				<h2><a href="{$goods['url']}" target="_blank">{$goods['name']}</a></h2>
				<p>{$goods['notes']}</p>
			</div>
			{/foreach}
		</div>
		{/foreach}
		{/if}
	</div>
</div><!-- // end #main -->

<div id="footer">
	<div class="container">
		<ul class="menu fl">
			<li class="active"><a href="index.html" title="Home">Home</a></li>
			<li><a href="about.html" title="About">About</a></li>
			<li><a href="gallery.html" title="Gallery">Gallery</a></li>
			<li><a href="blog.html" title="Blog">Blog</a></li>
			<li><a href="contact-us.html" title="Contact Us">Contact Us</a></li>
		</ul>
		<p>&copy; dkntemplates 2012 Dilasag | designed by <a href="http://www.dkntemplates.com"> www.dkntemplates.com</a></p>
	</div>
</div><!-- // end #fppter -->
	
	
</body>
</html>